/* 探索采集-钓鱼界面的内容 */
#FIS_value_div {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}

/* 钓鱼上部div */
#FIS_up_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    gap: 3%;
}
/* 钓鱼上部的左右半边 */
.FIS_up_port_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 40%;
    height: 90%;
    border: 1px solid #797691;
}
/* 钓鱼表头文本框 */
.FIS_table_head_text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #797691;
    /* border: 1px solid #797691; */
}
/* 钓鱼状态具体内容 */
#FIS_status_value {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25px;
    border-bottom: 1px solid #797691;
}
/* 钓鱼提示信息 */
#FIS_tip_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    /* max-height: 25px; */
}
/* 当前钓鱼对象中的掉落物列表滚动窗口 */
#FIS_drop_table_scroll_box {
    height: 100%;
    box-sizing: border-box;
}
.testdrop_value {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #797691;
    border: 1px solid #797691;
    outline: 1px solid #797691;
    outline-offset: -1px;
}

/* 钓鱼中部div*/
#FIS_wait_middle_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
/* 钓鱼中部左侧 */
#FIS_M_L_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 60%;
    height: 90%;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 钓鱼中部右侧 */
#FIS_M_R_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 23%;
    height: 90%;
    box-sizing: border-box;
    border: 1px solid #797691;
}
/* 钓鱼表头文本框 */
#FIS_point_head {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #797691; /* 内框 */
}
/* 钓点选择div */
#FIS_point_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 90%;
}

/* 鱼饵选择 */
#FIS_bait_table_scroll_box {
    /* width: 100%; */
    height: 100%;
    box-sizing: border-box;
}
.FIS_bait_value {
    box-sizing: border-box;
    border-bottom: 1px solid #797691;
}

/* 遛鱼阶段和钓鱼完成阶段时的钓鱼中部 */
#FIS_walk_middle_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

/* 鱼头像ui的div */
#fish_ui_div {
    display: flex;
}
/* 鱼杆ui */
#fishing_rod_div {
    display: flex;
    margin-left: 2%;
    font-size: 20px;
}
/* 鱼头像ui */
#fish_head {
    display: flex;
    margin-left: 0%;
    font-size: 20px;
}

/* 遛鱼进度条：最大的父元素 */
#walk_fish_bar {
    /* flex: 1; */
    width: 80%;
    height: 20%;
    margin-left: 10%;
}
/* 遛鱼进度条：血条外框的样式 */
#walk_fish_frame {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* outline: 2px solid rgb(0, 127, 0);  */
    border: 2px solid rgb(0, 76, 127);
    background-color: rgba(0, 217, 255, 0.3);
}
/* 遛鱼进度条：血条中央，长度随当前血量变化的色块 */
#walk_fish_current {
    background-color: rgb(0, 76, 127);
}
/* 钓鱼下部div */
#FIS_down_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}
