/* 探索采集-采集界面的内容 */
#FAG_value_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}

/* 采集上部div */
#FAG_up_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: 80%; */
    height: 55%;
    padding: 0 10%;
    justify-content: center;
    box-sizing: border-box;
}
/* 采集中使用的掉落品div */
/* 每个元素只给右侧画线，专门为第3n + 1个元素左右都画线，实现表格内的样式 */
.FAG_drop_value {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #797691;
    border-bottom: 1px solid #797691;
}
/* 第3n + 1个元素左右都画线 */
.page_columns_111 .FAG_drop_value:nth-child(3n + 1) {
    border-inline: 1px solid #797691;
}

/* 当前采集对象的掉落物表头 */
#FAG_drop_table_head {
    width: 100%;
    height: 25px;
    text-align: center;
}
/* 当前采集对象中的掉落物列表滚动窗口 */
#FAG_drop_table_scroll_box {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
}

/* 采集中部div */
#FAG_middle_div {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    /* height: 15%; */
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
}
/* 玩家采集进度条：最大的父元素 */
#FAG_bar {
    /* flex: 1; */
    width: 80%;
    height: 25px;
}
/* 玩家采集进度条：外框的样式 */
#FAG_frame {
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid rgb(16, 118, 201);
    background-color: rgba(46, 60, 255, 0.3);
}
/* 玩家采集进度条：进度条中央，长度随进度变化的色块 */
#FAG_current {
    background-color: rgb(16, 118, 201);
}

#FAG_show_tip_div {
    width: 100%;
    height: 42px;
    /* border: 1px solid #333; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}
/* 采集下部父div */
#FAG_down_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 20%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
/* 采集下部子div */
.FAG_option_div {
    display: flex;
    flex: 1;

    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
