@import url('./logging.css');
@import url('./fishing.css');
@import url('./foraging.css');
@import url('./mining.css');
/* 生活规划总界面 */
#Live_plan {
    box-sizing: border-box;
    border-top: 2px solid #797691; /* 内框 */
    border-left: 1px solid #797691; /* 内框 */
    border-right: 1px solid #797691; /* 内框 */
    border-bottom: 1px solid #797691; /* 内框 */
    user-select: none;
}
/* 生活规划n个子界面的切换按钮的div */
#Live_plan_switch_div {
    height: 10%;
}
/* 生活规划n个子界面的切换按钮 */
.Live_plan_switch_button {
    flex: 1;
    font-size: 15px;
    border: 1px solid #797691; /* 内框 */
}
/* 容纳具体的探索采集合成制造内容的div */
#Live_plan_value_div {
    height: 90%;
}
/* 探索采集-容纳全部内容的div */
/* #EC_div {
    background-color: rgb(255, 0, 0);
} */

/* 合成制造界面-容纳全部内容的div */
#SM_div {
    /* background-color: rgb(72, 255, 0); */
}

.LP_div {
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 掉落品的div */
.drop_value {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #797691;
}

/* 未解锁任何生活技能时的填充页 */
#lock_all_Live_plan_div {
    width: 100%;
    height: 100%;
    /* 字体居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 字体颜色 */
    color: black;
    /* 字体大小 */
    font-size: 20px;
    font-weight: 600;
}

/* 生活技能里统一格式的按钮 */
.LP_button {
    /* width: 75px; */
    height: 45px;
}
