/* 探索采集-伐木界面的内容 */
#LGI_value_div {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}

/* 当前伐木对象头像div */
#tree_head_div {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
}
/* 当前伐木对象头像 */
#tree_head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    /* height: 0; */
}

/* 树的生命进度条：最大的父元素 */
#tree_blood_bar {
    /* flex: 1; */
    width: 80%;
}
/* 树的生命进度条：血条外框的样式 */
#tree_blood_frame {
    width: 100%;
    box-sizing: border-box;
    /* outline: 2px solid rgb(0, 127, 0);  */
    border: 2px solid rgb(0, 127, 0);
    background-color: rgba(0, 255, 0, 0.3);
}
/* 树的生命进度条：血条中央，长度随当前血量变化的色块 */
#tree_blood_current {
    background-color: rgb(0, 196, 0);
}

/* 当前伐木对象的掉落物列表div */
#LGI_drop_table_div {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
/* 当前伐木对象的掉落物表头 */
#LGI_drop_table_head {
    width: 100%;
    height: 15%;
    text-align: center;
}
/* 当前伐木对象中的掉落物列表滚动窗口 */
#LGI_drop_table_scroll_box {
    width: 100%;
    height: 55%;
    box-sizing: border-box;
}

/* 伐木上部div */
#LGI_up_div {
    display: flex;
    height: 50%;
}

/* 伐木掉落物的div */
/* .drop_value {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #797691;
} */

/* 伐木中部div */
#LGI_middle_div {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}
.LGI_radio_div label {
    padding: 12px 6px;
    /* width: 100%; */
    font-size: 14px;
    font-family: inherit;
    /* text-align: center; */
    /* white-space: pre-wrap; */
    /* color: #000; */
    /* background-color: #fff; */
    /* box-sizing: border-box; */
    background-color: #f8f8f8;
    /* border: 1px solid #ccc; */
    border-radius: 2px; /* 轻微圆角 */
    border: 1px solid #797691;
}
/* 玩家伐木进度条：最大的父元素 */
.player_logging_bar {
    /* flex: 1; */
    /* width: 100px; */
    margin-bottom: 10px;
}
/* 玩家伐木进度条：血条外框的样式 */
.player_logging_frame {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(16, 118, 201);
    background-color: rgba(46, 60, 255, 0.3);
}
/* 玩家伐木进度条：血条中央，长度随当前血量变化的色块 */
.player_logging_current {
    background-color: rgb(16, 118, 201);
}
/* 更换目标按钮 */
#LGI_R_button {
    margin-top: 25px;
}

/* 伐木下部div */
#LGI_down_div {
    display: flex;
    height: 20%;
    justify-content: center;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
    align-items: center;
}
