/* 探索采集-挖矿界面的内容 */
#MIN_value_div {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}

/* 挖矿上部div */
#MIN_up_div {
    display: flex;
    height: 50%;
}

/* 当前挖矿对象头像div */
#ore_head_div {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
}
/* 当前挖矿对象头像 */
#ore_head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1/1;
    /* height: 0; */
}

/* 矿石的生命进度条：最大的父元素 */
#ore_blood_bar {
    /* flex: 1; */
    width: 80%;
}
/* 矿石的生命进度条：血条外框的样式 */
#ore_blood_frame {
    width: 100%;
    box-sizing: border-box;
    /* outline: 2px solid rgb(0, 127, 0);  */
    border: 2px solid rgb(0, 127, 0);
    background-color: rgba(0, 255, 0, 0.3);
}
/* 矿石的生命进度条：血条中央，长度随当前血量变化的色块 */
#ore_blood_current {
    background-color: rgb(0, 196, 0);
}

/* 当前挖矿对象的掉落物列表div */
#MIN_drop_table_div {
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
/* 当前挖矿对象的掉落物表头 */
#MIN_drop_table_head {
    width: 100%;
    height: 15%;
    text-align: center;
}
/* 当前挖矿对象中的掉落物列表滚动窗口 */
#MIN_drop_table_scroll_box {
    width: 100%;
    height: 55%;
    box-sizing: border-box;
}

/* 挖矿掉落物的div */
/* .drop_value {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #797691;
} */

/* 挖矿中部div */
#MIN_middle_div {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 0 2%;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}

.MIN_M_div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
}
/* 挖矿中部左侧div */
#MIN_M_L_div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /* height: 50%; */
}
/* 挖矿中部中侧div */
#MIN_M_M_div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /* height: 50%; */
}
/* 挖矿中部容纳进度条的div */
.MIN_M_bar_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 80%; */
    height: 20%;
}
/* 挖矿中部容纳文本的div */
.MIN_M_label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px; /* 轻微圆角 */
    box-sizing: border-box;
    border: 1px solid #797691;
}
/* 挖矿中部容纳下拉框的div */
#MIN_M_select_div {
    width: 100%;
    height: 20%;
    max-height: 50px;
    overflow-y: auto;
}
/* 挖矿中部容纳下拉框的div */
.MIN_M_select {
    width: 100%;
    height: 20%;
    max-height: 50px;
    overflow-y: auto;
    z-index: 1;
    /* position: absolute; */
}

/* 玩家挖矿进度条：外框的样式 */
.player_mining_frame {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(16, 118, 201);
    background-color: rgba(46, 60, 255, 0.3);
}
/* 玩家挖矿进度条：中央长度随当前进度变化的色块 */
.player_mining_current {
    background-color: rgb(16, 118, 201);
}
/* 更换目标按钮 */
#MIN_replace_button {
    /* margin-top: 20%; */
    height: 40%;
}

/* 挖矿下部div */
#MIN_down_div {
    display: flex;
    height: 20%;
    justify-content: center;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
    align-items: center;
}
