#backpack {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* height: 90%; */
    /* background-color: #00ff00; */
    box-sizing: border-box;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳切换背包、技能、图鉴三个按钮的div */
#BP_SK_IB_switch {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    height: 10%;
    background-color: #ffd700;
}
.BP_SK_IB_switch_button {
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */
    /* width: ; */
    font-size: 15px;
    /* height: 40px; */
    border: 1px solid #797691; /* 内框 */
}
/* 容纳具体的背包、技能、图鉴内容的div */
#BP_SK_IB_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    height: 90%;
}
/* 容纳具体背包内容的div */
#BP_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: rgb(255, 0, 0);
    /* height: 90%; */
}
/* 容纳具体技能内容的div */
#SK_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: #ffd700;
    /* height: 90%; */
}
/* 容纳具体图鉴内容的div */
#IB_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: #1100ff;
    /* height: 90%; */
}

/* 物品栏界面，容纳具体物品的div */
#BP_value_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 自动换行 */
    /* 元素之间的间距 */
    /* gap: 10px;  */
}
/* 物品栏界面内具体的一个物品 */
.BP_value {
    /* 每行两个元素 */
    /* width: calc(50% - 5px);  */
    width: 50%;
    background-color: #ffffff;
    /* color: white; */
    /* padding: 20px; */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
    /* 文本不可选中 */
    user-select: none;
}

/* 背包物品分类单选按钮，和圆点绑定的文本 */
/* 100%宽度 */
.BP_switch_radio_div_1 label {
    padding: 10px 0;
    width: 100%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 80%宽度 */
.BP_switch_radio_div_2 label {
    padding: 10px 0;
    width: 80%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 60%宽度 */
.BP_switch_radio_div_3 label {
    padding: 10px 0;
    width: 60%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 背包物品分类单选按钮，选中之后，圆点绑定的文本的样式 */
/* .BP_switch_radio_div_1 input[type='radio']:checked + label {
    color: #fff;
    background-color: #3597db;
} */
