#backpack {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* height: 90%; */
    background-color: #00ff00;
    border: 3px solid #797691; /* 内框 */
}
/* 容纳切换背包、技能、图鉴三个按钮的div */
#BP_SK_IB_switch {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    height: 10%;
    /* 测试颜色 */
    background-color: #ffd700;
}
.BP_SK_IB_switch_button {
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */
    /* width: ; */
    font-size: 15px;
    height: 40px;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳具体的背包、技能、图鉴内容的div */
#BP_SK_IB_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    height: 90%;
}
/* 容纳具体背包内容的div */
#BP_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: rgb(255, 0, 0);
    /* height: 90%; */
}
/* 容纳具体技能内容的div */
#SK_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: #ffd700;
    /* height: 90%; */
}
/* 容纳具体图鉴内容的div */
#IB_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: #1100ff;
    /* height: 90%; */
}

/* 背包物品界面左侧的分类部分 */
/* 容纳具体图鉴内容的div */
#BP_value_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: #1100ff;
    /* height: 90%; */
}
/* 启动隐藏下拉表格的按钮，第一级 */
.dropdown_button_1 {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}
/* 启动隐藏下拉表格的按钮，第二级 */
.dropdown_button_2 {
    padding: 10px;
    font-size: 15px;
    width: 80%;
    cursor: pointer;
}
/* 初始隐藏下拉表格 */
.dropdown_table {
    display: none;
    /* margin-top: 10px; */
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
}

/* justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
} */
