/* 战斗规划总界面 */
#Combat_plan {
    box-sizing: border-box;
    border-top: 1px solid #797691; /* 内框 */
    border-left: 2px solid #797691; /* 内框 */
    border-right: 1px solid #797691; /* 内框 */
    border-bottom: 2px solid #797691; /* 内框 */
    user-select: none;
}
/* 战斗规划n个子界面的切换按钮的div */
#Combat_plan_switch_div {
    height: 10%;
    /* background-color: #ffd700; */
}
/* 战斗规划n个子界面的切换按钮 */
.Combat_plan_switch_button {
    flex: 1;
    font-size: 15px;
    border: 1px solid #797691; /* 内框 */
}
/* 容纳具体的背包物品、技能内容的div */
#Combat_plan_value_div {
    height: 90%;
    /* border-bottom: 1px solid #797691; */
}

#BP_switch_sort_div {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #797691;
}
#BP_switch_scroll_box {
    flex: 1;
}
#BP_sort_div {
    height: auto;
}
/* 背包界面-容纳背包全部内容的div */
/* #BP_div {
    background-color: rgb(255, 0, 0);
} */
/* 背包界面-右侧容纳具体物品的div */
#BP_value_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 自动换行 */
}
/* 背包界面-右侧布局中具体的一个物品 */
.BP_value {
    /* 每行两个元素 */
    width: 50%;
    /* background-color: #ffffff; */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}

/* 战斗规划界面-容纳战斗规划全部内容的div */
/* #CBP_div {
    background-color: rgb(72, 255, 0);
} */
/* 战斗规划界面-主动技能规划部分-右侧展示主动技能的div */
#ASP_value_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
    width: 100%;
    height: 100%;
}

/* 展示玩家所有主动技能的可产生滚动条的外窗口 */
/* #active_scroll_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #008cff;
    width: 100%;
    height: 85%;
} */
/* 展示玩家所有主动技能的用于撑出滚动条的内窗口 */
#active_value_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #008cff; */
    width: 100%;
    /* height: 100%; */
}
/* 主动技能规划界面内具体的一个技能 */
.active_value {
    /* 每行两个元素 */
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 主动技能规划结果展示div */
#active_show_div {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
    width: 100%;
    height: 15%;
}
/* 主动技能规划结果展示内具体的一个技能 */
.active_show_value {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 2px solid #797691;
}

/* 战斗规划界面，展示自动恢复规划具体内容的div */
#ARP_value_div {
    display: flex;
    /* background-color: #ff00ff; */
    flex-direction: row;
    flex-wrap: wrap; /* 自动换行 */
    width: 100%;
    height: 100%;
}
/* 战斗规划界面，展示自动撤离规划具体内容的div */
#AEP_value_div {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(0, 217, 255); */
    flex-wrap: wrap; /* 自动换行 */
    width: 100%;
    height: 100%;
}
