/* 玩家控制界面的样式 */
#control {
    /* display: grid; */
    /* 单列布局 */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(auto-fit, minmax(95px, 1fr)); */
    /* grid-template-rows: auto; */
    /* color: white; */
    /* font-size: 24px; */
    /* height: 50%; */
    box-sizing: border-box;
    border: 2px solid #797691; /* 内框 */
    user-select: none;
}

/* 左边显示当前地点，右边显示时间的div*/
#control_name_div {
    display: flex;
    padding: 0 5px;
    /* 占据一整行，类型在左，内容在右 */
    justify-content: space-between;
}
#control_name_left_div {
    text-align: left;
}
#control_name_right_div {
    text-align: right;
}

/* 左边显示地点名称的div*/
#place_name_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* 右边显示时间的div*/
#time_div {
    text-align: right;
}
.control_text_div {
    display: flex;
    font-size: 15px;
}

/* 用来描述角色所处位置的容器 */
#Place_desc_div {
    display: flex;
    box-sizing: border-box;
    /* text-align: center;  */
    justify-content: center;
    align-items: center;
    min-height: 50px;
    white-space: pre-wrap; /* 保留空格和换行 */
    /* background-color: rgb(19, 250, 54); */
    border: 1px solid #797691; /* 内框 */
}
/* 用来容纳角色当前位置可以进行的操作的容器 */
#player_Control_div {
    box-sizing: border-box;
    /* background-color: rgb(250, 19, 19); */
    border: 1px solid #797691;
}

/* 可执行操作按钮 */
.player_Control_button {
    box-sizing: border-box;
    min-height: 30px;
    text-align: center;
    /* background-color: rgb(250, 19, 19); */
    border-top: 1px solid #797691; /* 内框 */
    border-bottom: 1px solid #797691; /* 内框 */
}
