/* 玩家控制界面的样式 */
#game_plan {
    box-sizing: border-box;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳切换战斗规划、生活技能、创造合成三个按钮的div */
#Game_plan_switch_div {
    height: 10%;
    background-color: #ffd700;
}
.GP_switch_button {
    font-size: 15px;
    /* height: 40px; */
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 容纳具体的战斗规划、生活技能、创造合成内容的div */
#Game_plan_value_div {
    height: 90%;
}
/* 容纳具体战斗规划内容的div */
/* #CBP_div {
    background-color: rgb(255, 0, 0);
} */
/* 容纳具体生活技能内容的div */
#LVP_div {
    background-color: #ffd700;
}
/* 容纳具体创造合成内容的div */
#CTP_div {
    background-color: #1100ff;
}
/* 战斗规划界面，展示主动技能规划具体内容的div */
#ASP_value_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
    /* background-color: #00ff2a; */
    width: 100%;
    height: 100%;
}
/* 展示玩家所有主动技能的可产生滚动条的外窗口 */
/* #active_scroll_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #008cff;
    width: 100%;
    height: 85%;
} */
/* 展示玩家所有主动技能的用于撑出滚动条的内窗口 */
#active_value_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #008cff;
    width: 100%;
    /* height: 100%; */
}
/* 主动技能规划界面内具体的一个技能 */
.active_value {
    /* 每行两个元素 */
    /* width: calc(50% - 5px);  */
    width: 50%;
    background-color: #ffffff;
    /* color: white; */
    /* padding: 20px; */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
    /* 文本不可选中 */
    user-select: none;
}
/* 主动技能规划结果展示div */
#active_show_div {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
    /* background-color: #ff5e00; */
    width: 100%;
    height: 15%;
}
/* 主动技能规划结果展示内具体的一个技能 */
.active_show_value {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* white-space: nowrap; */
    /* overflow: hidden;  */
    /* text-overflow: ellipsis; */
    /* font-size: 12px; */
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 2px solid #797691;
}

/* 战斗规划界面，展示自动恢复规划具体内容的div */
#ARP_value_div {
    display: flex;
    background-color: #ff00ff;
    flex-direction: row;
    flex-wrap: wrap; /* 自动换行 */
    width: 100%;
    height: 100%;
}
/* 战斗规划界面，展示自动撤离规划具体内容的div */
#AEP_value_div {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 217, 255);
    flex-wrap: wrap; /* 自动换行 */
    width: 100%;
    height: 100%;
}

/* 背包物品分类单选按钮，和圆点绑定的文本 */
/* 100%宽度 */
.GP_switch_radio_div_1 label {
    padding: 10px 0;
    width: 100%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 80%宽度 */
.GP_switch_radio_div_2 label {
    padding: 10px 0;
    width: 80%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 60%宽度 */
.GP_switch_radio_div_3 label {
    padding: 10px 0;
    width: 60%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
