/* 玩家控制界面的样式 */
#game_data {
    box-sizing: border-box;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳切换战斗规划、生活技能、创造合成三个按钮的div */
#Game_data_switch_div {
    height: 10%;
    background-color: #ffd700;
}
.GD_switch_button {
    flex: 1;
    font-size: 15px;
    /* height: 40px; */
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 容纳具体的战斗规划、生活技能、创造合成内容的div */
#Game_data_value_div {
    height: 90%;
}

/* 容纳具体生活技能内容的div */
#LVP_div {
    background-color: #ffd700;
}
/* 容纳具体创造合成内容的div */
#CTP_div {
    background-color: #1100ff;
}
/* 容纳具体图鉴内容的div */
#IB_div {
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* width: 100vw; */
    /* color: white; */
    /* 测试颜色 */
    background-color: #1100ff;
    /* height: 90%; */
}
