/* 地图最大父界面的样式 */
#map {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
    position: relative;
    overflow: hidden;

    /* 单列布局 */
    /* height: 50%; */
    box-sizing: border-box;
    border-top: 2px solid #797691; /* 内框 */
    border-left: 1px solid #797691; /* 内框 */
    border-right: 2px solid #797691; /* 内框 */
    border-bottom: 1px solid #797691; /* 内框 */
    user-select: none;
}
/* 地图界面负责移动的div */
#map_move_div {
    position: absolute;
    width: 1200px;
    height: 900px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}

.map_button {
}
