/* 角色属性界面的样式 */
#map {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    /* 单列布局 */
    /* height: 50%; */
    box-sizing: border-box;
    border-top: 2px solid #797691; /* 内框 */
    border-left: 1px solid #797691; /* 内框 */
    border-right: 2px solid #797691; /* 内框 */
    border-bottom: 1px solid #797691; /* 内框 */
    user-select: none;
}
