/* 角色属性界面的样式 */
#player_status {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    /* 单列布局 */
    /* height: 50%; */
    box-sizing: border-box;
    border: 2px solid #797691;
}

/* 角色状态n个子界面的切换按钮 */
#player_status_switch_div {
    height: 10%;
}
/* 角色状态n个子界面的切换按钮 */
.player_status_switch_button {
    flex: 1;
    font-size: 15px;
    border: 1px solid #797691; /* 内框 */
}
#player_status_value_div {
    height: 90%;
}
/* 角色状态界面的样式 */
#PAB_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    /* 单列布局 */
    /* height: 50%; */
    box-sizing: border-box;
    border: 2px solid #797691;
}

/* 展示角色血条的div的样式 */
#bar_div {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5px;
    color: white;
}

/* 角色名：父元素 */
#Player_name_div {
    top: 5px;
    height: 20px;
}
/* 角色名文本框 */
#Player_name {
    text-align: center;
    width: 120px;
    height: 20px;
    margin: auto;
    border: 0px;
    background-color: #3a4e75;
    color: white;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 20px;
}

/* 血条组件：最大的父元素 */
#HP_bar {
    flex: 1;
}
/* 血条组件：血条外框的样式 */
#HP_frame {
    outline: 2px solid rgb(201, 16, 16); /* 外框 */
    background-color: rgba(255, 46, 46, 0.3);
}
/* 血条组件：血条中央，长度随当前血量变化的色块 */
#HP_current {
    background-color: rgb(255, 0, 0);
}

/* 蓝条组件：最大的父元素 */
#MP_bar {
    flex: 1;
}
/* 蓝条组件：外框的样式 */
#MP_frame {
    outline: 2px solid rgb(0, 0, 127); /* 外框 */
    background-color: rgba(0, 0, 255, 0.3);
}
/* 蓝条组件：血条中央，长度随当前血量变化的色块 */
#MP_current {
    background-color: rgb(15, 15, 255);
}

/* 精力条组件：最大的父元素 */
#ENP_bar {
    flex: 1;
}
/* 精力条组件：血条外框的样式 */
#ENP_frame {
    outline: 2px solid rgb(0, 127, 0); /* 外框 */
    background-color: rgba(0, 255, 0, 0.3);
}
/* 精力条组件：血条中央，长度随当前血量变化的色块 */
#ENP_current {
    background-color: rgb(0, 196, 0);
}

/* 展示玩家属性和装备栏的div的样式 */
#attr_equip_div {
    flex: 1;
    display: flex;
    align-items: center;
    /* height: 200px; */
}

/* 背包物品界面的样式 */
#player_equipment {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
    border: 3px solid #797691; /* 内框 */
}
/* 属性展示表格父元素 */
#attribute_show {
    margin: auto;
    gap: 0px 5px;
    width: 90%; /* 宽度为整个窗口的85% */
}
/* 战斗属性展示表格 */
#combat_attribute_show {
    gap: 5px;
}
/* 玩家属性展示表格 */
#Player_attribute_show {
    gap: 5px;
}
/* 一个装备栏父元素 */
#equipment_show {
    margin: auto;
    gap: 0px 5px;
    width: 90%; /* 宽度为整个窗口的85% */
}
/* 装备栏中，容纳武器的div */
.EQP_arms_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 装备栏中，容纳防具的div */
.EQP_Armor_div {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 装备栏中，容纳副手的div */
.EQP_deputy_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 防具装备展示单元格 */
.EQP_show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    line-height: 1;
    text-align: center; /* 水平居中 */
    /* white-space: nowrap; */
    border: 2px solid #797691; /* 内框 */
    user-select: none;
}
/* 手持的装备展示单元格 */
.hand_EQP_show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    line-height: 1;
    text-align: center; /* 水平居中 */
    /* white-space: nowrap; */
    border: 2px solid #797691; /* 内框 */
    user-select: none;
}

/* 属性展示单元格 */
.state_show {
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: nowrap;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳切换属性和装备栏按钮的div */
#Player_attr_switch_div {
    flex: 0 1 auto;
    margin: auto;
    width: 85%;
    padding: 5px 0px;
}
/* 容纳切换到属性展示按钮的div */
#PA_switch_div {
    margin: auto;
}
/* 玩家属性展示按钮 */
.PA_switch_button {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: pre-wrap; /* 让文本按照换行符换行，同时保留空格 */
    border: 2px solid #797691; /* 内框 */
}
/* 背包物品分类单选按钮 */
.EQP_switch_radio_div {
    margin: auto;
}

/* 装备栏选择多选框，和圆点绑定的文本 */
.EQP_switch_radio_div label {
    width: 50px;
    height: 50px;
    font-size: 15px; /*文本大小*/
    text-align: center;
    border-radius: 5px;
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
}
/* 装备栏选择多选框，选中之后，圆点绑定的文本的样式 */
.EQP_switch_radio_div input[type='radio']:checked + label {
    color: #fff;
    background-color: #3597db;
}

/* 容纳具体技能内容的div */
#PSK_div {
    background-color: #ffd700;
}

/* 角色状态界面中，分类单选按钮 */
/* 100%宽度 */
.PS_switch_radio_div_1 label {
    padding: 10px 0;
    width: 100%;
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 80%宽度 */
.PS_switch_radio_div_2 label {
    padding: 10px 0;
    width: 80%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
/* 60%宽度 */
.PS_switch_radio_div_3 label {
    padding: 10px 0;
    width: 60%;
    /* cursor: pointer; */
    /* height: 50px; */
    font-size: 15px; /*文本大小*/
    text-align: center;
    /* border-radius: 5px; */
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
