/* 角色属性界面的样式 */
#player_status {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    /* 单列布局 */
    /* height: 50%; */
    box-sizing: border-box;
    border-top: 2px solid #797691; /* 内框 */
    border-left: 2px solid #797691; /* 内框 */
    border-right: 1px solid #797691; /* 内框 */
    border-bottom: 1px solid #797691; /* 内框 */
    user-select: none;
}

/* 角色状态n个子界面的切换按钮 */
#player_status_switch_div {
    height: 10%;
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
}
/* 角色状态n个子界面的切换按钮 */
.player_status_switch_button {
    flex: 1;
    font-size: 15px;
    border: 1px solid #797691; /* 内框 */
}
#player_status_value_div {
    height: 90%;
}
/* 角色状态界面的样式 */
#PAB_div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid #797691;
}

/* 展示角色血条的div的样式 */
#bar_div {
    display: flex;
    height: 25%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 5px;
    /* gap: 5px; */
    /* color: white; */
}

/* 角色名：父元素 */
#Player_name_div {
    display: flex;
    justify-content: center;
    top: 5px;
    height: 20px;
}
/* 角色名文本框 */
#Player_name {
    text-align: center;
    width: 120px;
    height: 20px;
    border: 0px;
    background-color: #797691;
    color: white;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 20px;
}

/* 血条组件：最大的父元素 */
#HP_bar {
    flex: 1;
}
/* 血条组件：血条外框的样式 */
#HP_frame {
    /* outline: 2px solid rgb(201, 16, 16);  */
    outline: 2px solid rgb(0, 0, 0);
    /* background-color: rgba(255, 46, 46, 0.3); */
    background-color: rgba(255, 255, 255, 0.3);
}
/* 血条组件：血条中央，长度随当前血量变化的色块 */
#HP_current {
    /* 原定颜色 */
    /* background-color: rgb(255, 0, 0); */
    /* 避免使用鲜艳颜色，减少上班被发现的概率 */
    background-color: rgb(0, 0, 0);
}

/* 蓝条组件：最大的父元素 */
#MP_bar {
    flex: 1;
}
/* 蓝条组件：外框的样式 */
#MP_frame {
    /* outline: 2px solid rgb(0, 0, 127); */
    /* background-color: rgba(0, 0, 255, 0.3); */
    outline: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3);
}
/* 蓝条组件：血条中央，长度随当前血量变化的色块 */
#MP_current {
    /* background-color: rgb(15, 15, 255); */
    background-color: rgb(0, 0, 0);
}

/* 精力条组件：最大的父元素 */
#ENP_ui_div {
    /* flex: 1; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    width: 100%; /* 宽度为整个窗口的85% */
    height: 25px; /* 高度固定为25px */
}
/* 精力条组件：左侧表示当前精力数值的div */
#ENP_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%; /* 宽度为整个窗口的85% */
    height: 100%; /* 高度固定为25px */
    box-sizing: border-box;
    /* border: 1px solid #000; */
}
/* 精力条组件：右侧容纳进度条的div */
#ENP_bar {
    position: relative; /* 父元素需要设置相对定位 */
    box-sizing: border-box;
    border: 1px solid #000; /* 内框 */
    width: 75%; /* 宽度为整个窗口的85% */
    height: 100%; /* 高度固定为15px */
}
/* 精力条组件：表示深层精力进度，长度随当前血量变化的色块 */
#deep_ENP_current {
    position: absolute; /* 启动绝对定位 */
    /* 组件原定颜色 */
    /* background-color: rgb(0, 204, 0); */
    /* 将ui改成不太明显的颜色，降低上班时被发现的概率 */
    background-color: rgba(0, 0, 0, 0.185);
    height: 100%;
    width: 100%;
}
/* 精力条组件：表示表层精力进度，长度随当前血量变化的色块 */
#surface_ENP_current {
    position: absolute; /* 启动绝对定位 */
    /* 组件原定颜色 */
    /* background-color: rgba(51, 255, 51); */
    /* 将ui改成不太明显的颜色，降低上班时被发现的概率 */
    background-color: rgba(3, 1, 1, 0.712);
    height: 70%;
    width: 100%;
    top: 15%;
    /* left: 1%; */
}
/* 进度条组件：表示阈值的图案 */
.threshold {
    position: absolute; /* 启动绝对定位 */
    height: 100%;
    width: 1%;
    background-color: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 60% 15%, 60% 85%, 100% 100%, 0 100%, 40% 85%, 40% 15%);
    clip-path: polygon(0 0, 100% 0, 60% 15%, 60% 85%, 100% 100%, 0 100%, 40% 85%, 40% 15%);
}

/* 展示玩家属性、装备栏、buff栏的div的样式 */
#player_status_div {
    display: flex;
    flex: 1;
    height: 55%;
    width: 100%;
    align-items: center;
}

/* 背包物品界面的样式 */
#player_equipment {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
    border: 3px solid #797691; /* 内框 */
}
/* 属性展示表格父元素 */
#attribute_show {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    /* margin: auto; */
    /* gap: 0px 5px; */
    /* width: 90%; */
}
/* 战斗属性展示表格 */
#combat_attribute_show {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    gap: 5px;
}
/* 玩家属性展示表格 */
#Player_attribute_show {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    gap: 5px;
}
/* 一个装备栏父元素 */
#equipment_show {
    margin: auto;
    gap: 0px 5px;
    width: 90%; /* 宽度为整个窗口的85% */
}
/* 装备栏中，容纳武器的div */
.EQP_arms_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 装备栏中，容纳防具的div */
.EQP_Armor_div {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 装备栏中，容纳副手的div */
.EQP_deputy_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 防具装备展示单元格 */
.EQP_show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    line-height: 1;
    text-align: center; /* 水平居中 */
    /* white-space: nowrap; */
    border: 2px solid #797691; /* 内框 */
}
/* 手持的装备展示单元格 */
.hand_EQP_show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    line-height: 1;
    text-align: center; /* 水平居中 */
    /* white-space: nowrap; */
    border: 2px solid #797691; /* 内框 */
}

/* 属性展示单元格 */
.state_show {
    width: calc((100% - 10px) / 3);
    height: auto;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: nowrap;
    box-sizing: border-box;
    border: 2px solid #797691; /* 内框 */
}
#buff_show_scroll_box {
    flex: 1;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #797691; /* 内框 */
    border-top: 2px solid #797691; /* 内框 */
    box-sizing: border-box;
}
/* buff展示表格父元素 */
#game_time_buff_show_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    width: 100%;
    padding: 10px;
    gap: 5px;
    /* border-bottom: 2px solid #797691;  */
    box-sizing: border-box;
}
#combat_round_buff_show_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    width: 100%;
    padding: 10px;
    gap: 5px;
    /* border-bottom: 2px solid #797691;  */
    box-sizing: border-box;
}
/* buff展示单元格 */
.buff_show {
    width: calc((100% - 20px) / 5);
    height: auto;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: nowrap;
    box-sizing: border-box;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳切换属性和装备栏按钮的div */
#Player_attr_switch_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 20%;
}
/* 容纳切换到属性展示按钮的div */
#PA_switch_div {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex: 1;
}
/* 玩家属性展示按钮 */
.PA_switch_button {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: pre-wrap; /* 让文本按照换行符换行，同时保留空格 */
    border: 2px solid #797691; /* 内框 */
}
/* 选择装备栏的大div */
#EQP_switch_div {
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}

/* 装备栏选择单选框 */
.PA_switch_radio_div {
    margin: auto;
    width: auto;
    border: 2px solid #797691; /* 内框 */
}
/* 装备栏选择单选框，表示是否选中的圆点 */
.PA_switch_radio_div input[type='radio'] {
    /*清楚默认样式*/
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: absolute;
    opacity: 0;
}

/* 装备栏选择单选框，和圆点绑定的文本 */
.PA_switch_radio_div label {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 15px; /*文本大小*/
    justify-content: center;
    align-items: center;
    text-align: center;
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
}
/* 装备栏选择多选框，选中之后，圆点绑定的文本的样式 */
.PA_switch_radio_div input[type='radio']:checked + label {
    color: #fff;
    background-color: #3597db;
}

#PSK_switch_sort_div {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #797691;
}
#PSK_switch_scroll_box {
    flex: 1;
}
#PSK_sort_div {
    height: auto;
}
/* 容纳具体技能内容的div */
/* #PSK_div {
    background-color: #ffd700;
} */
/* 容纳具体技能内容的div */
#PSK_value_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* 自动换行 */
    align-content: flex-start;
}
/* 玩家技能界面-右侧布局中具体的一个技能 */
.PSK_value {
    /* 每行两个元素 */
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #797691; /* 内框 */
}
