/* 角色属性界面的样式 */
#player_attribute {
    display: grid;
    /* 单列布局 */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(auto-fit, minmax(95px, 1fr)); */
    /* grid-template-rows: auto; */
    /* color: white; */
    /* font-size: 24px; */
    /* height: 50%; */
    box-sizing: border-box;
    border: 3px solid #797691; /* 内框 */
}

/* 展示角色血条的div的样式 */
#bar_div {
    color: white;
    height: 95px;
    /* font-size: 24px; */
    /* height: 50%; */
    /* border: 3px solid #797691;  */
}

/* 角色名：父元素 */
#Player_name_div {
    top: 5px;
    height: 20px;
}
/* 角色名文本框 */
#Player_name {
    text-align: center;
    width: 120px;
    height: 20px;
    margin: auto;
    border: 0px;
    background-color: #3a4e75;
    color: white;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 20px;
}

/* 血条组件：最大的父元素 */
#HP_bar {
    display: grid;
    position: relative; /* 设置所有子元素相对于它进行定位 */
    width: 100%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
    margin-top: 10px; /* 和上边的元素距离30px */
}
/* 血条组件：血条外框的样式 */
#HP_frame {
    margin: 0% auto; /* 居中显示 */
    width: 85%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
    outline: 2px solid rgb(201, 16, 16); /* 外框 */
    background-color: rgba(255, 46, 46, 0.3);
}
/* 血条组件：血条中央，长度随当前血量变化的色块 */
#HP_current {
    height: 15px;
    background-color: rgb(255, 0, 0);
}
/* 血条组件：显示的数字 */
#HP_number {
    position: absolute; /* 启动绝对定位 */
    text-align: center;
    width: 100%;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 15px; /*文本大小*/
    /* 文本不可选中 */
    user-select: none;
    color: white;
}
/* 蓝条组件：最大的父元素 */
#MP_bar {
    display: grid;
    position: relative; /* 设置所有子元素相对于它进行定位 */
    margin-top: 10px; /* 和上边的元素距离 */
    width: 100%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
}
/* 蓝条组件：外框的样式 */
#MP_frame {
    margin: 0% auto; /* 左右居中显示 */
    width: 85%;
    height: 15px; /* 高度固定为15px */
    outline: 2px solid rgb(0, 0, 127); /* 外框 */
    background-color: rgba(0, 0, 255, 0.3);
}
/* 蓝条组件：血条中央，长度随当前血量变化的色块 */
#MP_current {
    height: 15px;
    background-color: rgb(15, 15, 255);
}
/* 蓝条组件：显示的数字 */
#MP_number {
    position: absolute; /* 启动绝对定位 */
    text-align: center;
    width: 100%;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 15px; /*文本大小*/
    /* 文本不可选中 */
    user-select: none;
    color: white;
}
/* 精力条组件：最大的父元素 */
#ENP_bar {
    display: grid;
    position: relative; /* 设置所有子元素相对于它进行定位 */
    margin-top: 10px;
    width: 100%;
    height: 15px;
}
/* 精力条组件：血条外框的样式 */
#ENP_frame {
    margin: 0% auto; /* 左右居中显示 */
    width: 85%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
    outline: 2px solid rgb(0, 127, 0); /* 外框 */
    background-color: rgba(0, 255, 0, 0.3);
}
/* 精力条组件：血条中央，长度随当前血量变化的色块 */
#ENP_current {
    height: 15px;
    background-color: rgb(0, 196, 0);
}
/* 精力条组件：显示的数字 */
#ENP_number {
    position: absolute; /* 启动绝对定位 */
    text-align: center;
    width: 100%;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 15px; /*文本大小*/
    /* 文本不可选中 */
    user-select: none;
    color: white;
}
/* 展示玩家属性和装备栏的div的样式 */
#attr_equip_div {
    /* display: grid; */
    /* grid-template-columns: 1fr; 单列布局 */
    /* grid-template-rows: repeat(auto-fit, minmax(95px, 1fr)); */
    /* grid-template-rows: auto; */
    /* color: white; */
    /* font-size: 24px; */

    height: 200px;
    /* border: 3px solid #797691; 内框 */
}

/* 背包物品界面的样式 */
#player_equipment {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
    /* color: white; */
    /* font-size: 24px; */
    /* height: 50%; */
    border: 3px solid #797691; /* 内框 */
}
/* 属性展示表格父元素 */
#attribute_show {
    /* display: grid; */
    margin: auto;
    margin-top: 20px; /* 和上边的元素距离30px */
    gap: 0px 5px;
    width: 90%; /* 宽度为整个窗口的85% */
}
/* 战斗属性展示表格 */
#combat_attribute_show {
    /* margin: auto; */
    gap: 5px;
    /* width: 85%;  */
}
/* 玩家属性展示表格 */
#Player_attribute_show {
    /* margin: auto; */
    gap: 5px;
    /* width: 85%;  */
}
/* 一个装备栏父元素 */
#equipment_show {
    /* display: grid; */
    margin: auto;
    /* 和上边的元素距离20px */
    margin-top: 10px;
    gap: 0px 5px;
    width: 90%; /* 宽度为整个窗口的85% */
}
/* 装备栏中，容纳武器的div */
#EQP_arms_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 装备栏中，容纳防具的div */
#EQP_Armor_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 装备栏中，容纳副手的div */
#EQP_arm_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%;  */
}
/* 单个装备展示单元格 */
.EQP_show {
    width: 60px;
    /* width: 50px; */
    height: 45px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    /*设置行间距为1，也就去掉了默认的行间距*/
    line-height: 1;
    /* white-space: nowrap; */
    border: 2px solid #797691; /* 内框 */
}

/* 属性展示单元格 */
.state_show {
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: nowrap;
    border: 2px solid #797691; /* 内框 */
}
/* 容纳切换属性和装备栏按钮的div */
#Player_attr_switch_div {
    margin: auto;
    /* gap: 5px; */
    width: 85%;
    height: 70px;
}

#PA_switch_div {
    margin: auto;
    /* gap: 5px; */
    /* width: 85%; */
}
/* 玩家属性展示按钮 */
.PA_switch_button {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    white-space: pre-wrap; /* 让文本按照换行符换行，同时保留空格 */

    border: 2px solid #797691; /* 内框 */
}
/* 背包物品分类单选按钮 */
.EQP_switch_radio_div {
    margin: auto;
}

/* 装备栏选择多选框，和圆点绑定的文本 */
.EQP_switch_radio_div label {
    /* 水平居中 */
    /* justify-content: center;  */
    /* 垂直居中 */
    /* align-items: center;  */
    width: 50px;
    height: 50px;
    font-size: 15px; /*文本大小*/
    text-align: center;
    border-radius: 5px;
    /* 让文本按照换行符换行，同时保留空格 */
    white-space: pre-wrap;
    color: #000;
    background-color: #fff;
}
/* 装备栏选择多选框，选中之后，圆点绑定的文本的样式 */
.EQP_switch_radio_div input[type='radio']:checked + label {
    color: #fff;
    background-color: #3597db;
}
