/* 设置页面和容器的基本样式 */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
/* 容纳所有显示元素的容器，游戏主界面 */
.main_page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 0; */
    width: 100vw;
    height: 95vh;
}

/* 每行1列的布局 */
.page_auto_columns {
    display: grid;
    /* 自动调整列数，每列至少100px，最大宽度为可用空间 */
    grid-template-columns: repeat(auto-fit, 1fr);
}
/* 每行1列的布局 */
.page_columns_1 {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-gap: 0; */
}
/* 每行1列的布局 */
.page_rows_11 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    /* grid-gap: 0; */
}
/* 每行1列的布局 */
.page_rows_111 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    /* grid-gap: 0; */
}

/* 每行2列的布局，两列宽度比例1：2 */
.page_columns_12 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 0; */
    /* width: 100vw;
    height: 100vh; */
}

/* 每行2列的布局，两列宽度比例1：1 */
.page_columns_11 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 100vw;
    height: 100vh; */
}

/* 每行3列的布局，每列宽度一样 */
.page_columns_111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100vw;
    height: 100vh; */
}
/* 3*3的网格布局 */
.page_grid_9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* width: 100vw;
    height: 100vh; */
}
/* 单行无限填充的布局 */
.page_flex {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
}

/* 设置每个区域的样式 */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-size: 24px; */
    border: 3px solid #797691;
}
/* 角色属性界面的样式 */
#player_attribute {
    display: block;
    grid-template-columns: 1fr; /* 单列布局 */
    grid-template-rows: auto; /* 行高自适应，子元素大小固定 */
    /* color: white; */
    /* font-size: 24px; */
    /* height: 50%; */
    border: 3px solid #797691; /* 内框 */
}
/* 背包物品界面的样式 */
#player_equipment {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
    /* color: white; */
    /* font-size: 24px; */
    /* height: 50%; */
    border: 3px solid #797691; /* 内框 */
}
/* 角色名：父元素 */
#Player_name_div {
    top: 5px;
    height: 20px;
}
/* 角色名文本框 */
#Player_name {
    text-align: center;
    width: 120px;
    height: 20px;
    margin: auto;
    border: 0px;
    background-color: #3a4e75;
    color: white;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 20px;
}

/* 游戏底部的设置区域的布局 */
.option_page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    height: 5vh;
}
/* 血条组件：最大的父元素 */
#HP_bar {
    display: grid;
    position: relative; /* 设置所有子元素相对于它进行定位 */
    width: 100%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
    margin-top: 10px; /* 和上边的元素距离30px */
}
/* 血条组件：血条外框的样式 */
#HP_frame {
    margin: 0% auto; /* 居中显示 */
    width: 85%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
    outline: 2px solid rgb(201, 16, 16); /* 外框 */
    background-color: rgba(255, 46, 46, 0.3);
}
/* 血条组件：血条中央，长度随当前血量变化的色块 */
#HP_current {
    height: 15px;
    background-color: rgb(255, 0, 0);
}
/* 血条组件：显示的数字 */
#HP_number {
    position: absolute; /* 启动绝对定位 */
    width: 100%;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 15px; /*文本大小*/
    text-align: center;
    color: white;
}
/* 蓝条组件：最大的父元素 */
#MP_bar {
    display: grid;
    position: relative; /* 设置所有子元素相对于它进行定位 */
    margin-top: 10px; /* 和上边的元素距离 */
    width: 100%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
}
/* 蓝条组件：外框的样式 */
#MP_frame {
    margin: 0% auto; /* 左右居中显示 */
    width: 85%;
    height: 15px; /* 高度固定为15px */
    outline: 2px solid rgb(0, 0, 127); /* 外框 */
    background-color: rgba(0, 0, 255, 0.3);
}
/* 蓝条组件：血条中央，长度随当前血量变化的色块 */
#MP_current {
    height: 15px;
    background-color: rgb(15, 15, 255);
}
/* 蓝条组件：显示的数字 */
#MP_number {
    position: absolute; /* 启动绝对定位 */
    width: 100%;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 15px; /*文本大小*/
    text-align: center;
    color: white;
}
/* 精力条组件：最大的父元素 */
#ENP_bar {
    display: grid;
    position: relative; /* 设置所有子元素相对于它进行定位 */
    margin-top: 10px;
    width: 100%;
    height: 15px;
}
/* 精力条组件：血条外框的样式 */
#ENP_frame {
    margin: 0% auto; /* 左右居中显示 */
    width: 85%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
    outline: 2px solid rgb(0, 127, 0); /* 外框 */
    background-color: rgba(0, 255, 0, 0.3);
}
/* 精力条组件：血条中央，长度随当前血量变化的色块 */
#ENP_current {
    height: 15px;
    background-color: rgb(0, 196, 0);
}
/* 精力条组件：显示的数字 */
#ENP_number {
    position: absolute; /* 启动绝对定位 */
    width: 100%;
    line-height: 1; /*设置行间距为1，也就去掉了默认的行间距*/
    font-size: 15px; /*文本大小*/
    text-align: center;
    color: white;
}

/* 属性展示表格父元素 */
#attribute_show {
    /* display: grid; */
    margin: auto;
    margin-top: 20px; /* 和上边的元素距离30px */
    gap: 0px 5px;
    width: 90%; /* 宽度为整个窗口的85% */
}

/* 属性展示表格父元素 */
#combat_attribute_show {
    /* margin: auto; */
    gap: 5px;
    /* width: 85%;  */
}
/* 属性展示表格父元素 */
#Player_attribute_show {
    /* margin: auto; */
    gap: 5px;
    /* width: 85%;  */
}

.state_show {
    background-color: rgb(255, 255, 255);
    font-size: 15px; /*文本大小*/
    border: 2px solid #797691; /* 内框 */
}
