/* 设置页面和容器的基本样式 */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
/* 容纳所有内容的最大的父容器 */
.main_page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* 游戏主界面 */
.game_dom {
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex: 0 1 95%;
    /* width: 100vw; */
    /* height: 95vh; */
}
/* 游戏底部的设置区域的布局 */
.option_page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 0 1 5%;
    /* width: 100vw;
    height: 5vh; */
}

/* 每行1列的布局 */
.page_auto_columns {
    display: grid;
    /* 自动调整列数，每列至少100px，最大宽度为可用空间 */
    grid-template-columns: repeat(4, 1fr);
}
/* 每行1列，共2行的布局 */
.page_rows_11 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    /* grid-gap: 0; */
}
/* 每行1列，共3行的布局 */
.page_rows_111 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    /* grid-gap: 0; */
}
/* 每行1列的布局 */
.page_columns_1 {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-gap: 0; */
}

/* 每行2列的布局，两列宽度比例1：2 */
.page_columns_12 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 0; */
    /* width: 100vw;
    height: 100vh; */
}

/* 每行2列的布局，两列宽度比例1：1 */
.page_columns_11 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 100vw;
    height: 100vh; */
}

/* 每行3列的布局，每列宽度一样 */
.page_columns_111 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100vw;
    height: 100vh; */
}
/* 每行3列的网格布局 */
.page_grid_9 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    /* width: 100vw;
    height: 100vh; */
}
/* 单行无限填充的布局 */
.page_flex {
    display: flex;
    flex-wrap: nowrap; /* 防止换行 */
}

/* 临时设置每个区域的样式 */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-size: 24px; */
    box-sizing: border-box;
    border: 3px solid #797691;
}

/* 单选框 */
.radio_div {
    /* display: inline-block; */
    /* margin: auto; */
    position: relative;
}
/* 单选框，表示是否选中的圆点 */
.radio_div input[type='radio'] {
    /*清楚默认样式*/
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    position: absolute;
    opacity: 0;
}
/* 单选框，和圆点绑定的文本 */
.radio_div label {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    color: #000;
    background-color: #fff;
}
/* 单选框，选中之后，圆点的样式 */
.radio_div input[type='radio']:checked {
    opacity: 0;
}
/* 单选框，选中之后，圆点绑定的文本的样式 */
.radio_div input[type='radio']:checked + label {
    color: #fff;
    background-color: #3597db;
}

/* 单选框，选中之后，圆点绑定的文本上额外显示的元素 */
/* .radio_div input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 5px;
    width: 5px;
    height: 12px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
} */

/* 内容过高会启动竖直滚动条的div */
.overflow_y_div {
    /* flex: 1; */
    position: relative;
    overflow-y: auto; /* 启用竖直滚动 */
    /* max-height: 320px; */
}
/* 在overflow_y_div内部，当内容超过100时就会激活滚动条 */
.classification_div {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    /* height: 100%; */
}

/* 启动隐藏下拉表格的按钮，第一级 */
.dropdown_button_1 {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}
/* 启动隐藏下拉表格的按钮，第二级 */
.dropdown_button_2 {
    padding: 10px;
    font-size: 15px;
    width: 80%;
    cursor: pointer;
}
/* 启动隐藏下拉表格的按钮，第三级 */
.dropdown_button_3 {
    padding: 10px;
    font-size: 15px;
    width: 60%;
    cursor: pointer;
}
/* 初始隐藏下拉表格 */
.dropdown_table {
    display: none;
    /* margin-top: 10px; */
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
}
