#tooltip {
    position: absolute;
    border: solid 5px lightgrey;
    outline: solid 3px black;
    background: linear-gradient(90deg, #333, #111);
    width: 320px;
    height: auto;
    text-align: center;
    box-shadow: 8px 8px rgba(220, 20, 60, 0.8);
    /* font: 0.9em Microsoft YaHei; */
    color: white;
    padding: 6px;
    z-index: 99999;
}
/* 文本 */
.lable {
    border-bottom: solid 1px darkgrey;
    font-size: 15px;
}
/* 去掉了下部的横线的文本 */
.lable_end {
    font-size: 15px;
}
/* 左边显示类型，右边显示具体内容的div*/
.TLV_div {
    display: flex;
    /* 占据一整行，类型在左，内容在右 */
    justify-content: space-between;
}
/* 左边显示类型，右边显示具体内容的div*/
.TLV_left {
    font-size: 15px;
}
/* 左边显示类型，右边显示具体内容的div*/
.TLV_right {
    font-size: 15px;
    text-align: right;
}
