#tooltip {
    position: absolute;
    border: solid 5px lightgrey;
    outline: solid 3px black;
    background: linear-gradient(90deg, #ffffff, #ebebeb);
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: 8px 8px rgba(220, 20, 60, 0.8);
    /* font: 0.9em Microsoft YaHei; */
    color: rgb(0, 0, 0);
    padding: 6px;
    z-index: 1;
    user-select: none;
    box-sizing: border-box;
}
/* 正下方有横线的文本 */
.lable_down {
    border-bottom: solid 1px darkgrey;
    font-size: 15px;
}
/* 正上方有横线的文本 */
.lable_up {
    border-top: solid 1px darkgrey;
    font-size: 15px;
}
/* 上下都有横线的文本 */
.lable_all {
    border-block: solid 1px darkgrey;
    font-size: 15px;
}
/* 没有横线的文本 */
.lable_end {
    display: flex;
    font-size: 15px;
}
/* 左边显示类型，右边显示具体内容的div*/
.TLV_div {
    display: flex;
    /* 占据一整行，类型在左，内容在右 */
    justify-content: space-between;
}
/* 左边显示类型，右边显示具体内容的div，但是两个子div是居中显示的*/
.TLV_space_evenly_div {
    display: flex;
    /* 占据一整行，类型在左，内容在右 */
    justify-content: space-evenly;
}
/* 左边显示类型，右边显示具体内容的div*/
.TLV_left {
    display: flex;
    font-size: 15px;
    align-items: center;
    text-align: left;
}
/* 左边显示类型，右边显示具体内容的div*/
.TLV_right {
    display: flex;
    font-size: 15px;
    text-align: right;
    justify-content: center;
    align-items: center;
}
/* 展示主动技能n个槽的父div */
.slot_div {
    display: flex; /* 启用 Flexbox 布局 */
    width: 100%; /* 父容器占满父元素的宽度 */
}
/* 展示主动技能一个槽的div */
.slot_value_div {
    flex: 1; /* 每个子布局宽度均分 */
    text-align: center; /* 可选：使子布局内容居中 */
    position: relative; /* 使伪元素定位相对于这个容器 */
    border: 1px solid #ccc; /* 可选：给子布局添加边框，方便查看 */
}
/* 每行2列表格布局中的每个元素 */
/* 每个元素只给右侧画线，专门为第2n + 1个元素左右都画线，实现表格内的样式 */
.table_2_value {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 5px 0;
    writing-mode: horizontal-tb;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    text-align: center;
    position: relative;
}
/* 第2n + 1个元素左右都画线 */
.lable_end .table_2_value:nth-child(2n + 1) {
    border-inline: 1px solid darkgrey;
}
/* 第2n + 1个元素左右都画线 */
.lable_end .table_2_value:nth-child(1),
.lable_end .table_2_value:nth-child(2) {
    border-top: 1px solid darkgrey;
}
/* 每行3列表格布局中的每个元素 */
/* 每个元素只给右侧画线，专门为第3n + 1个元素左右都画线，实现表格内的样式 */
.table_3_value {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0;
    writing-mode: horizontal-tb;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    text-align: center;
    position: relative;
}
/* 第3n + 1个元素左右都画线 */
.page_columns_111 .table_3_value:nth-child(3n + 1) {
    border-inline: 1px solid darkgrey;
}
/* 容纳一个主动技能限制条件的div */
.condition_value_div {
    display: flex; /* 启用 Flexbox 布局 */
    width: 100%; /* 父容器占满父元素的宽度 */
    border: 1px solid darkgrey;
    /* border-bottom: solid 1px darkgrey; */
}
/* 当前限制条件是否满足的标记 */
.condition_flag_div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 15%;
    border: 1px solid darkgrey;
}
/* 当前限制条件的描述 */
.condition_desc_div {
    display: flex;
    justify-content: center;
    width: 80%;
}
/* 半透明黑色遮罩 */
.cover {
    position: absolute; /* 绝对定位覆盖在 div 上 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 半透明黑色，0.5 是透明度 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 确保覆盖在 div 上面 */
    /* z-index: 1; */
}
/* 导入或者导出存档的父布局 */
#SandL_game_div {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    justify-content: center;
    align-items: center;
    position: absolute; /* 绝对定位覆盖在 div 上 */
    width: auto;
    height: auto;
    /* 半透明黑色，0.5 是透明度 */
    background-color: rgba(255, 255, 255, 1);
    /* z-index: 1; */
}
/* 存档标题 */
.SandL_title {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
/* 存档布局中的文本 */
.SandL_text {
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
/* 存档布局中的文本框 */
#SandL_textarea {
    width: 90%;
    height: 54%;
    box-sizing: border-box;
}
/* 存档布局中的按钮div */
#SandL_button_div {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: space-evenly;
    align-items: center;
}
/* 存档布局中的按钮 */
.SandL_button {
    min-width: 80px;
    min-height: 40px;
    font-size: 15px;
}
/* 删除存档界面中的特殊按钮 */
#SandL_delete_button {
    min-width: 80px;
    min-height: 40px;
    font-size: 15px;
    background-color: black;
    transition: background-color 5s ease;
}
#SandL_delete_button.normal {
    /* 普通按钮样式 */
    background-color: #f0f0f0;
    /* color: #333; */
    border: 1px solid #ccc;
}

/* 经验组件：最大的父元素 */
#exp_bar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* 经验组件：外框的样式 */
#exp_frame {
    outline: 2px solid rgb(33, 145, 0);
    background-color: rgba(77, 255, 0, 0.3);
}
/* 经验组件：进度条中央，长度随当前进度变化的色块 */
#exp_current {
    background-color: rgb(6, 215, 0);
}
/* 经验组件：进度条中央，长度随当前进度变化的色块 */
#exp_number {
    height: 15px;
    line-height: 1.2;
    user-select: none;
    color: rgb(0, 0, 0);
}

/* 提示框中的精力条组件：表层精力进度 */
#tip_surface_ENP_bar {
    box-sizing: border-box;
    /* 组件原定颜色 */
    /* background-color: rgba(51, 255, 51); */
    /* 将ui改成不太明显的颜色，降低上班时被发现的概率 */
    background-color: rgba(3, 1, 1, 0.712);
    width: 100%; /* 宽度为整个窗口的85% */
    height: 15px; /* 高度固定为15px */
}
/* 提示框中的精力条组件：深层精力进度 */
#tip_deep_ENP_bar {
    /* 组件原定颜色 */
    /* background-color: rgb(0, 204, 0); */
    /* 将ui改成不太明显的颜色，降低上班时被发现的概率 */
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 25px;
}
/* 提示框中的精力条组件：深层精力最大值 */
#tip_ENMax_bar {
    box-sizing: border-box;
    border: 1px solid #000; /* 内框 */
    width: 100%; /* 宽度为整个窗口的85% */
    height: 25px; /* 高度固定为15px */
}
